
<div class="grid grid-cols-1 p-10 pt-30 gap-4 lg:grid-cols-2 lg:gap-8">
  <div>
    <div
      class="flex flex-col h-full main-font items-center justify-center lg:pl-24 lg:items-start lg:justify-start">

      <!-- Seção de apresentação -->
      <div class="headline pt-18 pb-15 text-base sm:text-xl text-center lg:text-left">
        <span>Olá, meu nome é Leonardo</span>
      </div>

      <!-- Título principal -->
      <div
        class="headline text-4xl  sm:text-6xl lg:text-5xl xl:text-6xl text-center lg:text-left mb-4">
        <div><span>Full-Stack Developer</span></div>
        <div><span>Java and Node.js</span></div>
      </div>

      <!-- Descrição -->
      <div
        class="text-sm lg:h-25 pt-4 paragraph text-center md:text-lg lg:text-left mb-11 xl:mb-6">
        <span>"Sou um desenvolvedor Full-Stack apaixonado por criar soluções que não apenas atendam aos requisitos funcionais, mas também proporcionem desempenho excepcional e fortaleçam a confiança dos usuários através de experiências estáveis e seguras."</span>
      </div>
     

      <!-- Botões -->
      <div
        class="flex flex-wrap gap-10 pt-9 items-center justify-center lg:items-start lg:justify-start">
        <div>
          <app-default-button text="Saiba Mais"></app-default-button>
        </div>
        <div>
          <app-default-button text="Curriculo"></app-default-button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div
      class="flex-col h-full main-font align-center justify-center">
      <div
        class="flex align-center justify-center headline pt-18 text-6xl">
        <img class="h-65 w-48 sm:h-80 w-96 rounded-xl"
          src="./assets/code-vetor (2).png"
          alt>
      </div>
      <div class="flex pt-10 align-center justify-center slider-container">
        <div class="grid grid-cols-5 pb-5 slide gap-10">
          <div
            class="w-8 h-12 sm:w-16 sm:h-23 icon-hover text-center nav-title hover-effect"><img
              src="./assets/icon1.png"
              alt="Language 1">
            <span class="headline text-xs sm:text-base main-font">SpringBoot</span>
          </div>
          <div
            class="w-8 h-12 sm:w-16 sm:h-23 icon-hover text-center nav-title hover-effect"><img
              src="./assets/icon2.png"
              alt="Language 2">
            <span class="headline text-xs sm:text-base main-font">Node.JS</span>
          </div>
          <div
            class="w-8 h-12 sm:w-16 sm:h-23 icon-hover text-center nav-title hover-effect"><img
              src="./assets/icon3.png"
              alt="Language 3">
            <span class="headline text-xs sm:text-base main-font">TypeScript</span>
          </div>
          <div
            class="w-8 h-12 sm:w-16 sm:h-23 icon-hover text-center nav-title hover-effect"><img
              src="./assets/icon4.png"
              alt="Language 3">
            <span class="headline text-xs sm:text-base main-font">Angular</span>
          </div>
          <div
            class="w-8 h-12 sm:w-16 sm:h-23 icon-hover text-center nav-title hover-effect"><img
              src="./assets/icon5.png"
              alt="Language 5">
            <span class="headline text-xs sm:text-base">React</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>